fastapi>=0.110.0
uvicorn>=0.27.1
python-multipart
minio==7.2.0
opencv-python>=4.10.0
numpy==1.26.4
requests>=2.32.0
python-dotenv==1.0.0
confluent-kafka>=1.9.2
pillow>=10.4.0
# faiss-cpu removed as it's not used by this service
